@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>User: @User.Identity.Name</h1>
<div>
    @{ var claimsID = (System.Security.Claims.ClaimsIdentity)User.Identity;}
    <ul>
        @foreach (var claim in claimsID.Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
</div>
<h4>Access Token</h4>
<textarea class="form-control" style="width:100%;height:190px;">@(await Context.GetTokenAsync("access_token")) </textarea>
<h4>Refresh Token</h4>
<textarea class="form-control" style="width:100%;height:50px;">@(await Context.GetTokenAsync("refresh_token")) </textarea>